<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor m-b-0 m-t-0">PMKP - Form A</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:void(0)">Home</a>
      </li>
      <li class="breadcrumb-item active">Form A</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <!-- Column -->
    <div class="card">
      <div class="card-body">
        <div class="form-group row">
          <label
            for="example-text-input"
            class="col-xs-12 col-lg-2 col-form-label"
            >Unit</label
          >
          <div class="col-xs-12 col-lg-10">
            <input
              class="form-control"
              type="text"
              ng-model="currPage"
              disabled
            />
          </div>
        </div>
        <div class="form-group row">
          <label
            for="example-month-input"
            class="col-xs-12 col-lg-2 col-form-label"
            >Month-Year</label
          >

          <div class="col-xs-12 col-lg-6">
            <select
              class="custom-select col-12"
              ng-model="monthSelect"
              ng-change="getData()"
            >
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
          <div class="hidden-lg-up" style="height: 5px;">&nbsp;</div>
          <div class="col-xs-12 col-lg-4">
            <select
              class="custom-select col-12"
              ng-model="yearSelect"
              ng-change="getData()"
            >
              <!-- <option ng-repeat="n in yearRange" value="{{ n }}">{{
                n
              }}</option> -->
              <option value="2024">2024</option>
            </select>
          </div>
        </div>
        <div class="tableJexcelWrapper m-t-20 m-b-20">
          <div id="tableFormA"></div>
        </div>
        <div class="row">
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-success waves-effect waves-light pull-right m-l-10 m-b-5"
              ng-click="save()"
            >
              <i class="fas fa-save"></i> Save To Server
            </button>
            <button
              type="button"
              class="btn btn-success waves-effect waves-light pull-right m-b-5"
              ng-click="downloadExcel()"
            >
              <i class="fas fa-file-excel"></i> Download Excel Report
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
