<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">Pengajuan Indikator Mutu - List</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">Home</a>
        </li>
        <li class="breadcrumb-item active">Pengajuan Indikator Mutu</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card card-outline-info">
        <div class="card-body">
          <form class="form-horizontal">
            <div class="form-group row">
                <label
                  for="example-text-input"
                  class="col-xs-12 col-lg-2 col-form-label"
                  >Unit
                </label>
                <div class="col-xs-12 col-lg-10">
                  <select class="custom-select col-12" ng-model="unit" aria-label="label for the select">
                    <option ng-repeat="(key, value) in profileType" ng-value="{{value.ID}}" ng-selected="{{unit === value.ID}}"> {{ value.TYPE }}</option>
                  </select>
                </div>
            </div>
            <div class="form-group row">
                <label
                    for="example-month-input"
                    class="col-xs-12 col-lg-2 col-form-label"
                    >Year
                </label>
                <div class="hidden-lg-up" style="height: 5px;">&nbsp;</div>
                <div class="col-xs-12 col-lg-3">
                  <select
                    class="custom-select col-12"
                    ng-model="tahun">
                    <!-- <option ng-repeat="(key, n) in yearDynamic" value="{{ n }}" ng-selected="{{n == currentYear}}">{{ n }}</option> -->
                    <option ng-repeat="n in yearRange" value="{{ n }}">{{ n }}</option>
                  </select>
                </div>
              </div>
            <div class="form-group row m-b-0">
              <div class="offset-sm-3 col-sm-9">
                <button type="button" class="btn btn-success waves-effect waves-light" ng-click="loadData()">
                  Cari Data
                </button>
                <button type="button" class="btn btn-success waves-effect waves-light" ng-click="addIndikatorMutu()">
                  <i class="fa fa-plus"></i> Pengajuan Indikator Mutu
                </button>
              </div>
            </div>
          </form>
          <br />
          <table ng-table="tableParams" class="table table-condensed table-bordered table-striped table-responsive"
          show-filter="false">
          <tr ng-repeat="row in $data track by $index">
            <td title="'Judul'" sortable="'judul'">
              {{ row.JUDUL_INDIKATOR }}
            </td>
            <td title="'Registrasi'" sortable="'tgl_registrasi'">
              {{ row.CREATE_DATE }}
            </td>
            <td title="'Target'" sortable="'target'">
              {{ row.TARGET }}
            </td>
            <td title="'Numerator'" sortable="'numerator'">
              {{ row.NUMERATOR }}
            </td>
            <td title="'Denumerator'" sortable="'denumerator'">
              {{ row.DENUMERATOR }}
            </td>
            <td title="'Acc Koordinator'">
                <button type="button"
                        class="btn waves-effect waves-light"
                        ng-click="addPpi(row.no_rawat, row.no_rkm_medis, row.nm_pasien, row.nm_dokter, row.kd_kamar)"
                        ng-class="{'btn-danger': row.STATUS === '1', 'btn-success inactive': row.STATUS === '0'}">
                  <i class="fa" ng-class="{'fa-check': row.STATUS === '1', 'fa-plus': row.STATUS === '0'}"></i>
                  {{ row.STATUS === '1' ? 'Disabled ACC' : 'ACC' }}
                </button>
              </td>
            <td title="'Action'">
              <button type="button" class="btn btn-success waves-effect waves-light"
                ng-click="addPpi(row.no_rawat, row.no_rkm_medis, row.nm_pasien, row.nm_dokter, row.kd_kamar)">
                <i class="fa fa-plus"></i> ADD
              </button>
            </td>
          </tr>
        </table>
        </div>
      </div>
    </div>
  </div>
