<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor m-b-0 m-t-0">User - New</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:void(0)">Home</a>
      </li>
      <li class="breadcrumb-item active">User</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <!-- Column -->
    <div class="card">
      <div class="card-body">
        <form action="#">
          <div class="form-body">
            <h3 class="card-title">Masukkan Informasi User</h3>
            <hr />
            <div class="row align-items-start">
              <div class="col">
                <div class="form-group">
                  <label class="control-label">Username</label>
                  <input type="text" ng-model="username" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label">Password</label>
                  <input type="text" ng-model="password" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label">Nama</label>
                  <input type="text" ng-model="name" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label">Email</label>
                  <input type="text" ng-model="email" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label">Role</label>
                  <select class="form-control custom-select" ng-model="role">
                    <option value="ADMIN">Administrator</option>
                    <option value="KARAWATJALAN">Kasatpel Rawat Jalan</option>
                    <option value="RAWATJALAN">Rawat Jalan</option>
                    <option value="KARAWATINAP">Kasatpel Rawat Inap</option>
                    <option value="RAWATINAP">Rawat Inap</option>
                    <option value="KAMAROPERASI">Kamar Operasi</option>
                    <option value="PERINATOLOGI">Perinatologi</option>
                    <option value="KAMARBERSALIN">Kamar Bersalin</option>
                    <option value="KAIGD">Kasatpel IGD</option>
                    <option value="HCU">HCU</option>
                    <option value="IGD">IGD</option>
                    <option value="KAPENUNJANG">Kasatpel Penunjang</option>
                    <option value="RADIOLOGI">Radiologi</option>
                    <option value="LABORATORIUM">Laboratorium</option>
                    <option value="FARMASI">Farmasi</option>
                    <option value="GIZI">Gizi</option>
                    <option value="REKAMMEDIS">Rekam Medis</option>
                    <option value="KESLING">Kesling</option>
                    <option value="CSSDLINEN">CSSD</option>
                    <option value="LINEN">Linen</option>
                    <option value="K3RS">K3RS</option>
                    <option value="KAKEPEGAWAIAN">Kasatpel Kepegawaian & Umum</option>
                    <option value="MANAJEMENKEPEGAWAIAN">Manajemen & Kepegawaian</option>
                    <option value="KAKEUANGAN">Keuangan</option>
                    <option value="LOKETPENDAFTARAN">Loket Pendaftaran</option>
                    <option value="IPSRS">IPSRS</option>
                    <option value="AMBULANCE">Ambulance</option>
                    <option value="KAKEUANGAN">Kasatpel Keuangan</option>
                    <option value="KASIR">Kasir</option>
                    <option value="KAPPI">Komite PPI</option>
                    <option value="PPI">PPI</option>
                    <option value="KAMEDIS">Komite Medis</option>
                    <option value="KAKEPERAWATAN">Komite Keperawatan</option>
                    <option value="KANAKESLAIN">Komite Nakes Lain</option>
                    <option value="KAKPRS">Tim KPRS</option>
                    <option value="KAPKRS">Tim PKRS</option>
                    <option value="KAPPRA">Tim PPRA</option>
                    <option value="KAKOMPLAIN">Tim Komplain</option>
                    <option value="KB">Tim KB</option>
                    <option value="TB">Tim TB</option>
                    <option value="PONEK">Tim Ponek</option>
                    <option value="HIV">HIV</option>
                    <option value="STUNTING">Stunting</option>
                    <option value="BARANG">Pengurus Barang</option>
                    <option value="PENGADAAN">Pengadaan</option>
                    <option value="CASEMIX">Casemix</option>
                    <option value="IT">IT</option>
                    <option value="IKP">IKP</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions m-t-10">
            <button
              type="button"
              class="btn btn-success pull-right m-l-10"
              ng-click="save()"
            >
              <i class="fa fa-check"></i> Save
            </button>
            <button
              type="button"
              class="btn btn-inverse pull-right"
              ng-click="backToList()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
